.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: transparent;
  /* position: fixed; */
  max-height: 600px;
  max-width: 100%;

  /* z-index: 1; */
  /* overflow-x: hidden; */
  padding-top: 20px;
}
.sidenav a {
  color: #07484a;
  padding: 10px 15px 10px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  /* line-height: 28px; */
  height: 80px;
}
.sidenav a:hover {
  cursor: pointer;
}
/* h2
{
	padding: 10px 15px 10px 16px;
	color: #fff;
	border-bottom-style: solid;
} */
.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: #f0f0f0;
  padding: 2px;
}
#search-box {
  border: 0;
  background-color: #f0f0f0;
  width: 160px;
  padding: 10px 20px 10px 20px;
  margin-left: 10px;
}

#searchicon {
  width: 20px;
  margin-left: 5px;
}

.scrollbar-items {
  overflow-x: hidden;
  height: 700px;
  max-width: 90%;
  margin: 20px;
  padding: 10px;
}

/* width */
.scrollbar-items::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.scrollbar-items::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollbar-items::-webkit-scrollbar-thumb {
  background: #07484a;
}

/* Handle on hover */
.scrollbar-items::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.button-scrollbar {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  background: #07484a;
  border-radius: 10px;
  width: 80%;
  height: 20px;
}
/* .main
{
	background: #002240;
	margin-left: 20%;
	padding: 4px 10px;
	color: #fff;
	display: inline-block;
} */

/*Making responsive*/
@media screen and (max-width: 998px) {
  .sidenav {
    padding-top: 15px;
    width: 155px;
  }
  .sidenav a {
    padding-left: 20px;
    font-size: 18px;
  }
  /* .main
	{
		margin-left: 32%;
		font-size: 15px;
	} */
  p {
    display: inline-block;
  }
  .searchbox {
    width: 150px;
  }
  #search-box {
    width: 110px;
  }
}

@media (max-width: 520px) {
  .sidenav {
    padding-top: 15px;
    width: 110px;
  }
  .sidenav a {
    padding-left: 0px;
    font-size: 14px;
  }
  .searchbox {
    width: 100px;
  }
  #search-box {
    margin-left: 0px;
    width: 60px;
    padding: 10px 10px 10px 10px;
  }
  #searchicon {
    width: 15px;
    margin-left: 2px;
  }
}
